@model AssetManagement.Models.LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<h1>User Login </h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">

            <p> @TempData["userMessage"]</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            <div>
                <a href="https://localhost:7203/User/UserRegister"> New User </a>
           </div>
            <div>
                <a href="https://localhost:7203/Home/AdminRoleValidation"> Admin <a>
            </div>
        </form>
    </div>
</div>

