@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Software</h1>

<button onclick="location.href='https://localhost:7203/Software/Index'">All Software</button>
<button onclick="location.href='https://localhost:7203/Software/Add'">Add Software</button>
<button onclick="location.href='https://localhost:7203/Software/Assign'">Assign</button>
<button onclick="location.href='https://localhost:7203/Software/Unassign'">UnAssign</button>
<button onclick="location.href='https://localhost:7203'">Back</button>