
@{
    ViewData["Title"] = "Option";
}

<h1>Hardware</h1>

<button onclick="location.href='https://localhost:7203/Hardware/Index'">All Hardware</button>
<button onclick="location.href='https://localhost:7203/Hardware/Add'">Add Hardware</button>
<button onclick="location.href='https://localhost:7203/Hardware/Assign'">Assign</button>
<button onclick="location.href='https://localhost:7203/Hardware/Unassign'">UnAssign</button>
<button onclick="location.href='https://localhost:7203'">Back</button>